.footer {
    background-color: #3a87d4;
        color: #ECF0F1;
        text-align: center;
        padding: 20px 0;
        width: 100%;
        box-shadow: 0 -2px 10px rgba(220, 198, 198, 0.2);
        margin-top: auto;
        position: fixed;
        bottom: 0;
            left: 0;
            /* Ensure it spans the full width */
            z-index: 1000;
            /* Ensure it is above other elements */
        
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    /* Spacing between links */
    font-weight: bold;
    transition: color 0.3s ease;
    /* Smooth hover effect */
}

.footer a:hover {
    color: #ffcc00;
    /* Highlight on hover */
}

.footer p {
    margin: 5px 0 0;
    /* Adjust margin for spacing */
}
